.root{
    -fx-background-color: #131022;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#904aef 0%, #9f67eb 100%);
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-table-cell-border-color: #753cc2;
    -fx-text-fill: #d6d6d6;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #d6d6d6;
    -fx-table-cell-border-color: #753cc2;
    -fx-border-color: #753cc2 -fx-table-cell-border-color #753cc2 #753cc2;
    -fx-cell-size: 30px;
    -fx-font-size: 13px;
    -fx-alignment: CENTER;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #504394;
    -fx-background-insets: 0, 0 0 1 0;
    /*-fx-border-color: #904aef;*/
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #453980;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}